<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
            <!--pattern>{ "level": "%p", "date": "%d{dd/MM/yyyy}", "time": "%d{HH:mm:ss}", "thread": "%t", "file": "%F", "line": "%L", "message": "%m" }%n</pattern-->
        </encoder>
    </appender>

    <logger name="ch.qos.logback.classic" level="warn"/>
    <logger name="ch.qos.logback.core" level="warn"/>

    <logger name="io.netty" level="warn"/>
    <logger name="io.vertx" level="warn"/>

    <logger name="com.kmdev.monitor" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
